In [6]:
import pandas as pd

train = pd.read_csv('train.csv', encoding='latin1')
train.shape

(27481, 10)

In [26]:
train = train.drop(columns=['textID', 'Country', 'Population -2020', 'Land Area (Km²)', 'Density (P/Km²)'])
train.columns.to_list()

['text', 'selected_text', 'sentiment', 'Time of Tweet', 'Age of User']

In [29]:
train.rename(columns={
    'text': 'tweet',
    'selected_text': 'text',
    'Time of Tweet': 'time',
    'Age of User': 'age'
}, inplace=True)
train.head()

,tweet,tweet,sentiment,time,age
0,"I`d have responded, if I were going","I`d have responded, if I were going",neutral,morning,0-20
1,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative,noon,21-30
2,my boss is bullying me...,bullying me,negative,night,31-45
3,what interview! leave me alone,leave me alone,negative,morning,46-60
4,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative,noon,60-70

In [30]:
train['sentiment'] = train['sentiment'].map({'neutral': 2, 'negative': 0, 'positive': 4})
train['time'] = train['time'].map({'noon': 0, 'morning': 1, 'night': 2})

In [31]:
train.head()

,tweet,tweet,sentiment,time,age
0,"I`d have responded, if I were going","I`d have responded, if I were going",2,1,0-20
1,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,0,0,21-30
2,my boss is bullying me...,bullying me,0,2,31-45
3,what interview! leave me alone,leave me alone,0,1,46-60
4,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",0,0,60-70

In [7]:
train = train[train.sentiment != "neutral"]

In [8]:
train.shape

(16363, 10)

In [13]:
print(f"data size : {train.shape}")
print(f"positive data size : {train[train['sentiment']=='positive'].shape}")
print(f"negative data size : {train[train['sentiment']=='negative'].shape}")

data size : (16363, 10)
positive data size : (8582, 10)
negative data size : (7781, 10)

In [14]:
test = pd.read_csv('test.csv', encoding='latin1')
test.shape

(4815, 9)

In [15]:
test.head(

)

,textID,text,sentiment,Time of Tweet,Age of User,Country,Population -2020,Land Area (Km²),Density (P/Km²)
0,f87dea47db,Last session of the day http://twitpic.com/67ezh,neutral,morning,0-20,Afghanistan,38928346.0,652860.0,60.0
1,96d74cb729,Shanghai is also really exciting (precisely -...,positive,noon,21-30,Albania,2877797.0,27400.0,105.0
2,eee518ae67,"Recession hit Veronique Branquinho, she has to...",negative,night,31-45,Algeria,43851044.0,2381740.0,18.0
3,01082688c6,happy bday!,positive,morning,46-60,Andorra,77265.0,470.0,164.0
4,33987a8ee5,http://twitpic.com/4w75p - I like it!!,positive,noon,60-70,Angola,32866272.0,1246700.0,26.0